html{
  scroll-behavior: smooth;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.counter {
  font-family: 'DS-Digital', sans-serif;
  font-size: 150px;
  color: #00bfff;
  text-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tam {
  width: 180px;
  color: aliceblue;
}



/* ! TEMA CLARO */
/* ? COMBINACIONES Y PROPIEDADES */

.claro .counter {
  color: #222;
  text-shadow: 0 0 10px #888, 0 0 20px #888;
}

body.claro {
  background-color: #f2eded;
  color: #222;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.claro button {
  background: #c2bcbc;
  color: #222;
}

.claro input, .claro textarea {
  background: #ffffff;
  color: #000000; /* Negro puro para máximo contraste */
  border: 1px solid #d1d5db;
}

/* ! TEMA OSCURO */
/* ? COMBINACIONES Y PROPIEDADES */
body.oscuro {
  background-color: #1c1c1c;
  color: #f5f5f5;
  margin: 0;
  padding: 20px;
  transition: all 0.3s ease;
}

.oscuro button {
  background: #444;
  color: #fff;
}

.oscuro input, .oscuro textarea {
  background: #1f2937;
  color: #ffffff; /* Blanco puro */
  border: 1px solid #374151;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 0.5px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #00bfff;
  outline: none;
}

.submit-clear-btns{
  display: 'flex';
  gap: '10px';
  margin-top: '15px';
  border-color: #00bfff;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.p-error{
  animation: fadeIn 1.5s forwards;

}